/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(355, 91%, 78%);
    }
    h1  {
      background-color: aqua;

    }
  .calculator {
    border: 1px solid hsl(0, 91%, 13%);
    width: 500px;
    text-align: center;
    padding: 9px;
  }
  .number {
    background-color: #0ce7e7; /* Cor de fundo azul */
    color: hsl(241, 94%, 49%); /* Cor do texto branca */
  }
  
  #display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(57, 1fr);
  }
    button {
    padding: 9px;
    font-size: 12px;
    cursor: pointer;
  }